<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
        <!--<script src="https://unpkg.com/vue-router@2.0.1"></script>-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <h1>Kloudbit - Todo Demo</h1>
            <h3>Demo TODO List</h3>
        </div>

        <div id="app"></div>
    </body>

    <script>
        const NotFound = { template: "<p>Page not found</p>" }
        const Home = {
            template: "<div class='container'><h5>Create a User</h5><form><input type='email' v-model='username' class='form-control' placeholder='email address' required><input type='password' v-model='password' class='form-control' placeholder='password' required><button class='btn btn-primary' v-on:click='add_user'>create user</button></form></div>",
            data: function(){
                return {username:null,password:null};
            },
            methods: {
                add_user: function(e){
                    e.preventDefault();

                    var url = "http://app.kloudbit.com/1.0/users";
                    var data = {"username":this.username, "password":this.password};
                    var headers = {"content-type":"application/json"};
                    var success = function(data){
                        if(data.error_code){
                            alert(data.error_message);
                        }else{
                            console.log(data);
                            sessionStorage.username = data.username;
                            window.location = "/list";
                        }
                    };

                    var error = function(data){
                        console.log(data);
                        alert("an error has occurred.");
                    };

                    $.ajax({url:"/api/create_user", method:"post", data:JSON.stringify(data), headers:headers, success:success, error:error});
                }
            }
        }

        const List = {
            template: "<div class='container'><p>Welcome, {{username}}</p> <ul><li v-for='item in items'>{{item.name}}</li></ul>  <form><input type='text' class='form-control' required v-model='item' /> <button class='btn btn-primary' v-on:click='add_item'>add item</button></form> </div>",
            data: function(){
                return {username:sessionStorage.username, item:null,items:[]};
            },
            methods:{
                add_item: function(e){
                    e.preventDefault();

                    var url = "http://app.kloudbit.com/1.0/items";
                    var data = {"name":this.item, "completed":false};
                    var headers = {"content-type":"application/json"};
                    var success = function(data){
                        console.log(data);
                        this.items.push({"name":this.item, "completed":false});
                    };
                    var error = function(data){
                        console.log(data);
                        alert("an error has occurred.");
                    };

                    $.ajax({url:"/api/add_item", method:"post", data:JSON.stringify(data), headers:headers, success:success, error:error});

                    this.item = '';
                }
            }
        }

        const About = { template: '<p>about page</p>' }
        const routes = {
          '/': Home,
          '/about': About,
          '/list':List
        }
        new Vue({
          el: '#app',
          data: {
            currentRoute: window.location.pathname
          },
          computed: {
            ViewComponent () {
              return routes[this.currentRoute] || NotFound
            }
          },
          render (h) { return h(this.ViewComponent) }
        })
    </script>


</html>